.font-marcellus{
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
}
.font-source{
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}